MYSQL_ROOT_PASSWORD=MySQL#2024!
MYSQL_DATABASE=integra360
MYSQL_PORT=3306

BACKEND_PORT=3000
JWT_SECRET=change_this_super_secret_key
JWT_EXPIRES_IN=1d
FRONTEND_URL=http://localhost:5173

VITE_API_URL=http://localhost:3000/api